.parallax_1{
    position: relative;
    background-image:url('../../assets/dinara_asqar_parallax.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.548);
}

@media screen and (max-width:650px) {
    .parallax_1{
    background-attachment: fixed;
    background-size: cover ;
}
}