.app_about_sostav{
    padding: 3rem;
    padding-right: 2rem;
    overflow: hidden;
    color: #2d3033;;
}



.app_about_sostav>h2{
    color: #2d3033;
    margin-bottom: 0.5rem;
}

.boxes>img{
    width: 70px;
    height: 70px;
    margin-right: 1rem;
}

.boxes{
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.boxes_content{
background: #2d303310;
padding: 0.5rem;
text-align: justify;
border-radius: 15px;
margin-bottom:1rem ;
backdrop-filter: blur(1rem);
overflow: hidden;

}

.boxes_content>h3 ,.boxes_content>p{
    color: #2d3033;
}