.app_case{
    overflow: visible;
}
.app_case_container{
    border-radius: 10px;
    padding: 1rem;    
    position: relative;
    overflow:visible;
    width: 70%;
}
.app_case_container img{
    width: 270px;
    position: absolute;
    right: -30%;
    top: 5%;
}

.app_case_content_box{
    position: relative;
    background: rgba(255, 255, 255, 0.199);
    margin-bottom: 0.5rem;
    border-radius:5px ;
    width:100%;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app_case_content_box>.insta_icon{
    color: var(--color-grey);
    position: absolute;
    right: -12%;
    top:10%;
    font-size: 45px;
    
}

@media screen and (max-width:850px) {
    .app_case_container img{
        right: -80%;

    }
    
}
