.app_case{
    overflow: hidden;
}
.app_case_container{
    border-radius: 5%;
    padding: 1rem;    
    position: relative;
    overflow:visible;
    width: 85%;
}
.app_case_container img{
    width: 150px;
    position: absolute;
    z-index: 1;
    right: -20%;
    top: 0;

}