.app_about_me_container{
    background: url('../../assets/bg.png');
    background-size: cover;
    flex-direction: column;
    color: var(--color-white);
    padding: 2rem;
    margin: 0rem;
    position: relative;
}

.mySwiper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

}

.mySwiper> h2{
    font-family: var(--font-base);
    color: var(--color-golden);
    padding: 1rem;
}

.app__case__data{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.app__case__data_img{
    padding: 1rem;
    position: relative;
    border-radius: 5%;
}
.app__case__data_img a{
    padding: 1rem;
    position: absolute;
    top: 40%;
    left: 43%;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    opacity: 0.3;
    font-size: xx-large;
}

.app__case__data_img a:hover{
    opacity: 1;
}
.app__case__data_img img{
    width: 400px;
    border-radius: 5%;
}

.swiper-button-next,.swiper-button-prev{
    color: var(--color-golden);
}

@media screen and (max-width:650px){
    .app__case__data_img img{
        width: 200px;
        border-radius: 5%;
    }
    .app__case__data_img a{
        top: 35%;
        left: 35%;
    }
}
