.parallax_2{
    position: relative;
    background-image:url('../../assets/parallax_logo.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.548);

}

@media screen and (max-width:650px) {
    .parallax_2{
    background-size: 400px 184px ;
    background-repeat: repeat;
    height:184px;
}
}