
.bagdarlama_container{
    background-image: url('../../assets/bg.png');
    background-size: cover;
    height: auto;
    padding: 2rem 2rem;
    display: auto;
    color: var(--color-golden);
    opacity: 1;
    position: relative;
}

.bagdarlama_container::before{
    content: '';
    display: block;
    background: rgb(138,127,52);
    background: linear-gradient(0deg, rgba(138,127,52,0) 0%, rgba(12,12,12,1) 99%);
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.bagdarlama_container::after{
    content: '';
    display: block;
    background: rgb(138,127,52);
    background: rgb(138,127,52);
background: linear-gradient(180deg, rgba(138,127,52,0) 0%, rgba(12,12,12,1) 99%);
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}



.bagdarlama_container > div{
    background: transparent;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid var(--color-golden);
}

.bagdarlama_container > div h2{
    text-align: center;
    margin: 2rem ;
    position: relative;
}
.context_show{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 1rem;
    padding: 0.5rem 0rem;
}
.context_show > h3,ul{
    border-bottom: 1px solid var(--color-golden);
}
.context_show li{
    list-style: none;
    padding:0.5rem 0rem;
}
.context_show button{
    background: transparent;
    color: var(--color-white);
    border: none;
    font-size: 2rem;
}

.clicked {
    transform: rotate(45deg);
    transition: 1s ease-in; 
}

@media screen and (max-width: 600px) {
    .bagdarlama_container > div{
        width: 100%;
        padding: 1rem;
    }
}
