
.bagdarlama_container{
    height: auto;
    padding: 2rem 2rem;
    display: auto;
    color: var(--color-golden);
    opacity: 1;
    position: relative;
    font-size: medium;
}

.bagdarlama_container > div{
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    z-index: 1;
}

.bagdarlama>h2{
    text-align: center;
    line-height: 50px;
}


.context_show{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    background: rgba(255, 255, 255, 0.144);
    border-radius: 15px;
    z-index: 1;
}

.context_show ul>h3, .context_show>h3{
    font-size:19px ;
}

.context_show li{
    list-style: none;
    margin: 0.2rem 0.2rem 0.2rem 0rem;
}
.context_show button{
    background: transparent;
    color: var(--color-white);
    border: none;
    font-size: 2rem;
    z-index: 2;
}

.clicked {
    transform: rotate(45deg);
    transition: 1s ease; 
}

@media screen and (max-width: 600px) {
    .bagdarlama_container > div{
        width: 100%;
        padding: 1rem;
    }
}
