.app_tarif_container{
    background: var(--color-black);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    color: var(--color-golden);
    display: auto;
    
    padding: 2rem 2rem;
    
}

.service{
    background: rgba(129, 127, 127, 0.377);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid;
    transition: 1s;
}
.service:hover{
    background: transparent;
    border-color: var(--color-golden);
    cursor: default;
}

.service_head{
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
    background:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: var(--color-crimson);
    text-align: center;
}

.service_list{
    padding: 2rem;
    list-style: none;

}
.service_list li{
    display:flex;
    gap: 1rem;
    margin:0.8rem ;

}
.service_button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.custom_button{
    text-decoration: none;
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 1rem;
  /*  overflow: hidden;*/
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    border-radius: 5%;
    box-shadow: 0 0 0 0 var(--color-golden) , 0 0 0 0 var(--color-white);
}

.service_unlisted{
    text-decoration: dashed;
    color: var(--color-gray);
}


@media screen and (max-width: 1024px) {

    .app_tarif_container{grid-template-columns: 1fr;
    gap:2rem;}
    .service{
        height: auto;
    }

}
@media screen and (max-width: 1024px) {
    .app_tarif_container{grid-template-columns: 1fr;
        gap: 1.5rem;}
    .service{
        height: auto;
    }   
}