.app_about_course> h2, .app_about_course > h4{
    text-align: center;
    padding: 1rem;
}
.app_about_course{
    background: var(--color-white);
    height: auto;
    padding: 2rem 2rem;
    display: auto;
    color: var(--color-golden);
    position: relative;
}

.app_about_course_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.app_about_course_info > div{
    background: rgb(0, 0, 0);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: 1s;
}
.app_about_course_info > div h3{
    text-align: center;
    margin: 2rem ;
    position: relative;
}

.info_for_clients_content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.details{
    display: column;
    gap: 1rem;
    padding: 0rem;
}
.details > div{
    border-bottom: 1px solid var(--color-golden);
    padding: 1rem 1rem 1rem 0rem;
    font-size:medium;
    text-transform: uppercase;
}

.details > div> small{
    color: var(--color-white);
}

.details-icon{
    color: var(--color-golden);
    size: 100px;
}

@media screen and (max-width: 1024px) {
    .app_about_course_info{
        grid-template-columns: 1fr;
    }
    .app_about_course_info > div{
        width: 100%;
        padding: 2rem;
        margin: 0;
    }
    .info_for_clients_content{
        padding: 0rem;
    }
}

@media screen and (max-width: 600px) {
    .app_about_course_info{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0rem;
    }
    .app_about_course_info > div{
        width: 100%;
        padding: 1rem;
    }
}
