.app_header{

    background: var(--color-black);
    z-index: 0;
}

.app__header-h1{
    font-family: var(--font-base);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;

    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-size:400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 7s linear infinite;
}
@keyframes animate{
    0% {
        background-position: 400%;
    }
    100% {
        background-position: 0%;
    }
}
.app__wrapper_info{
    position:relative;
}

.app__wrapper_img{
    border-color: none;
    border-radius: none;
    background: rgb(182,76,0);
    background: radial-gradient(circle, rgba(182,76,0,1) 0%, rgba(199,192,184,0) 67%, rgba(237,237,237,0) 93%);
    bottom: 0;

}

.app__wrapper_img img{
    position: relative;
    width: 280px;
    border-radius: 50%;
}

.custom__button{
    flex:1;
    display: flex;
    justify-content: stretch;
    align-items: center;
    cursor: pointer;
}

.app_about_me_cards{
    display: flex;
    flex-direction: column;
    color: var(--color-golden);
    padding: 0rem;
}
.app_about_me_card{
    position: relative;
    padding: 0rem 0.4rem 0 0.4rem;
    margin: 0rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app_about_me_card> .card_content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.app_about_me_card >.card_icon{
    font-size: 2rem;
    margin: 1rem 1rem 1rem 0rem;
    padding: 0rem;

}

.countup{
    font-weight: bolder;
    font-size: 34px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-size:300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.app_about_me_card> .card_content p{
font-size: 20px;


} 




@media only screen and (max-width:1150px){
    .app_header{
        
        background: var(--color-black)

    }
    .app__wrapper_img{
        position: relative;
        height: 100%;
        top: 0;
        margin: 1rem 0 0 0;
    }

    .app__header-h1{
        
        line-height: 50px;
        font-size: 50px;
    }

}
