.app_header{
    position: relative;
}
.app_header_place{
    height: 25vh;
    display: none;
    background: rgb(240, 237, 211);

}

.app_header_text{
    position: absolute;
    left: 0%;
    top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.app_header_text>h3,.app_header_text>h4{
    font-family: var(--font-alt);
    color: var(--color-white);
    text-shadow: 1px 1px 1px #5d4a1f;
    font-size: 24px;
}
.app_header_text>h2{
    font-family: var(--font-alt);
}

.app_header_text>h2{
    font-size: 80px;
    text-align: center;
    line-height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-size:400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 7s linear infinite;
}
@keyframes animate{
    0% {
    background-position: 400%;
    }
    100% {
    background-position: 0%;
}
}

.app_header_text>h4{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.app_header_img{
    /*background: #5d4a1f;*/
    background: url(../../assets/welcome.jpg);        
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

}
.app_header_img::before{
    position: absolute;
    content: '';
    background: rgb(240,237,211);
    background: linear-gradient(180deg, rgba(240,237,211,1) 15%, rgba(0,0,255,0) 100%);
    height: 10vh;
    width: 100%;
}

.app_header_img> .header_korsetkish  {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    left: 5%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;

}

.korsetkish_box{
    display: flex;
    flex-direction: column;
    background: rgba(255, 253, 253, 0.26);
    margin-bottom: 0.5rem;
    border-radius:25px ;
    width:100%;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1rem);
}

.korsetkish_box> span,.korsetkish_box> p{
    color: rgb(45,48,51);
    font-weight: 500;
}


@media screen and (max-width:850px){
    .app_header_place{
        display: flex;
    }
    .app_header_img{
        height: 70vh;
    }
    
}
